{port_sources, ["c_src/*.cpp"]}.
{so_name, "emmap_nifs.so"}.

{port_envs, [
             %% Make sure to link -lstdc++
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "LDFLAGS", "$LDFLAGS -lstdc++"},
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "CFLAGS", "$CFLAGS -DNDEBUG"}
            ]}.
