{port_sources, ["c_src/*.cpp"]}.
{so_name, "emmap_nifs.so"}.

{port_envs, [
             %% Make sure to link -lstdc++
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "LDFLAGS", "$LDFLAGS -lstdc++"},
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "CFLAGS", "$CFLAGS -DNDEBUG"}
            ]}.

{deps, [{edown, ".*", {git, "https://github.com/uwiger/edown.git", "HEAD"}}]}.

{edoc_opts, [{doclet, edown_doclet},
             {source_path, ["src", "test"]},
             {stylesheet, ""},
             {image, ""},
             {app_default,"http://www.erlang.org/doc/man"}]}.
